.even-div1 {
    border: 1px solid rgb(230, 221, 221);
    border-radius: 20px;
    background-color: rgb(247, 243, 243);
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
}

.odd-div1 {
    width: 90%;
    max-width: 1200px;
    margin: 15px auto;
}

.start {
    margin: auto;
}


