.nav {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    justify-content: flex-end;
}

.query {
      position: fixed;
      bottom: 0;
      left: 10;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
}

.enter {
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 70%;
    height: auto;
    margin-right: 10px;
    padding: 5px 15px;
    overflow: hidden;
    font-size: 17px;
}

.submit {
    border: 2px solid #ccc;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

.even-div{
    border: 1px solid rgb(230, 221, 221);
    border-radius: 20px;
    background-color: rgb(232, 228, 228);
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
}

.odd-div {
    width: 90%;
    max-width: 900px;
    margin: 15px auto;
}

.start {
    padding-top: 200px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.container1 {
    margin-bottom: 50px;
}

